Description=App service
Requires=app.socket

[Service]
User=django
Group=www-data
WorkingDirectory=/home/django/sites/app.ideamaker.agency/src/project/
ExecStart=/home/django/sites/app.ideamaker.agency/app/bin/gunicorn -c /home/django/sites/app.ideamaker.agency/src/deployment/gunicorn/gunicorn_app.py project.wsgi --access-logfile=/home/django/sites/app.ideamaker.agency/logs/access.log --error-logfile=/home/django/sites/app.ideamaker.agency/logs/error.log
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
Environment=DJANGO_SETTINGS_MODULE=project.settings.settings
Environment=LC_ALL=C.UTF-8
Environment=LANG=C.UTF-8
[Install]
WantedBy=multi-user.target
