[Unit]
Description=Dev service
Requires=dev.socket

[Service]
User=django
Group=www-data
ExecStart=/home/django/sites/chatgpt.ideamakr.com/chatgpt/bin/gunicorn -c /home/django/sites/chatgpt.ideamakr.com/backend/deployment/gunicorn/gunicorn_dev.py project.wsgi --access-logfile=/home/django/sites/chatgpt.ideamakr.com/logs/access.log --error-logfile=/home/django/sites/chatgpt.ideamakr.com/logs/error.log
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
Environment=project.settings.settings
Environment=LC_ALL=C.UTF-8
Environment=LANG=C.UTF-8

[Install]
WantedBy=multi-user.target
