[Unit]
Description=Production service
Requires=production.socket

[Service]
User=django
Group=www-data
WorkingDirectory=/home/django/sites/www.example.com/src/project
ExecStart=/home/django/sites/www.example.com/prod/bin/gunicorn -c /home/django/sites/www.example.com/src/deployment/gunicorn/gunicorn_prod.py project.wsgi --access-logfile=/home/django/sites/www.example.com/logs/access.log --error-logfile=/home/django/sites/www.example.com/logs/error.log
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
Environment=project.settings.settings
Environment=LC_ALL=C.UTF-8
Environment=LANG=C.UTF-8

[Install]
WantedBy=multi-user.target
