[Unit]
Description=Staging service
Requires=staging.socket

[Service]
User=django
Group=www-data
WorkingDirectory=/home/django/sites/staging.example.com/src/project
ExecStart=/home/django/sites/staging.example.com/stage/bin/gunicorn -c /home/django/sites/staging.example.com/src/deployment/gunicorn/gunicorn_stage.py project.wsgi --access-logfile=/home/django/sites/staging.example.com/logs/access.log --error-logfile=/home/django/sites/staging.example.com/logs/error.log
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
Environment=project.settings.settings
Environment=LC_ALL=C.UTF-8
Environment=LANG=C.UTF-8

[Install]
WantedBy=multi-user.target
